*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: ;
}

html, 
body{
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100%;
}

html{
  scroll-behavior: smooth;
}


h1, 
h2,
h3{
  text-transform: uppercase;
}

.fa-chevron-up{
  background-color: #04040479;
  color: white;
  border-radius: 10px;
  font-size: 32px;
  float: right;
  right: 35px;
  bottom: 50px;
  position: fixed;
  z-index: 99;
}

.container-margin-0-50px{
  margin: 0 50px;
  margin-bottom: 20px;
}

/* Logo */

.logo{
  display: flex;
}

.logo img{
  width: auto;
  height: 80px;
  border-radius: 50%;
}

.logo img:hover{
  transform: scale(1.2);
}


/* Header */

.header-nav{
  background-image: linear-gradient(120deg, violet, yellow);
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: auto;
  height: auto;
  position: sticky;
  top: 0;
}

.nav-bar .nav-links ul{
  display: flex;
  flex-flow: row nowrap;
}

.nav-bar .nav-links a{
  color: rgb(49, 47, 47);
  padding: 15px;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-bar .nav-links a:hover{
  color: white;
}

.fa-user{
  width: px;
}

.search{
  float: right;
}

.nav-bar ul > input{
  border: none;
  width: auto;
  height: 20px;
}

.nav-bar .nav-links i{
  width: auto;
  height: 31px;
}

/* Banner Carrusel */

.banner{
  width: auto;
  background-color: burlywood;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.banner ul li img{
  max-width: 100%;
  height: auto;
  padding: 10px;
  
}

/* Main */

.productos-container{
  background-color: rgb(153, 199, 239);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: auto;
  height: 500px;

}

/* .camisas, 
.jeans,
.remeras{
  width: 600px;
  height: auto;
  padding: 10px;
  margin: 10px;

} */

.camisas img{
  width: 100%;
  height: auto;
}

.jeans img{
  width: 500px;
  height: inherit;
}

.remeras img{
  width: 500px;
  height: 350px;
}

.camisas,
.jeans,
.remeras {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

}

.camisas h2,
.jeans h2,
.remeras h2{
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  position: absolute; 
  font-size: 4rem;
  font-weight: 700;
  width: auto;
  letter-spacing: 10px;
}

span .button{
  background-color: rgba(0, 0, 0, 0.3);
  position: ;
}

